*{
    margin:0;
    box-sizing: border-box;
}
header{
    width:100%;
    background-color: #E3E1FF;
    height:50px;
    position: sticky;
    top: 0;
}
header h1{
    float: left;
    line-height: 50px;
    padding-left: 25px;
    font-size: 25px;
}
.top_wrapper{
    height:600px;
}
.header_list{
    float: right;
}
.header_list a{
    color:black;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    padding:15px 15px;
}
.header_list a:hover{
    background-color: #6C63FF;
}
.top_title{
    float: left;
    margin-top: 150px;
    margin-left: 50px;
}
.top_title h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.top_title p{
    font-size: 40px;
    padding-bottom:20px;
}
.top_title a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #F0EFFF;
    color:black;
    transition: all 1s;
}
.top_title a:hover{
    background-color: #B5B0FF ;
}
.top_image{
    float: right;
    width:700px;
    height:500px;
    padding-right: 40px;
}
.top_image img{
        width:700px;
        height:500px;
        padding-top:50px;
    }
.service_wrapper{
    background-color: #F0EFFF ;
    width:100%;
    padding-bottom: 60px ;
}
.service_title{
    text-align: center;
    padding-top: 30px;
}
.content_service{
    display: flex;
    margin-left: 30px;
    padding-top: 50px;
}
.service{
    background-color:white;
    width:50%;
    margin-right: 30px;
    border-radius: 30px;
    text-align: center;
    padding-bottom: 40px;
}
.service p{
    padding-top: 10px;
    font-size: 20px;
}
.service img{
    width:300px;
    height: 300px;
}
.tools{
    float: left;
    width: 100%;
    padding-top: 30px;
}
.tools img{
    margin-right: 10px;
}
.team_wrapper{
    padding-bottom: 60px;
}
.content_team{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width:100%;
}
.team{
    text-align: center;
    width:20%;
}
.team h1{
    padding-top: 20px;
}
.team img{
    background-color: #F0EFFF ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100%;
}
.contact_wrapper{
    background-color: #F0EFFF ;
    width:100%;
    padding-bottom: 30px;
}
.message_image{
    float: left;
    padding-left: 80px;
}
.message_image img{
    width:530px;
    height:530px;
}
form{
    float: right;
    margin-top: 30px;
    margin-right: 80px;

}
form h3{
    padding-bottom: 10px;
}
form input{
    width:500px;
    height:50px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 30px;
    margin-bottom: 10px;
}
input[type="text"]:focus {
    outline: none;
}
input[type="email"]:focus {
    outline: none;
}
input[type="submit"]:focus {
    outline: none;
}
textarea:focus{
    outline: none;
}
form textarea{
    width:500px;
    height:100px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 30px;
    padding-top:10px;
}
.clear{
    clear: left;
}
.submit{
    cursor: pointer;
    margin-top: 10px;
}
.submit:hover{
    background-color: #B5B0FF ;
}
footer{
    height:80px;
    padding-top: 30px;
    text-align: center;
}