@media (max-width:670px){
    .header_list{
        display:none;
    }
    .top_title{
        margin-left:0;
        width:100%;
        text-align: center;
    }
    .top_title h1{
        font-size: 10vw;
    }
    .top_title p{
        font-size: 7vw;
    }
    .top_title a{
        font-size: 5vw;
    }
    .top_image img{
        display: none;
    }
    .service_wrapper{
        position: relative;
        height:1150px;
    }
    .content_service{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        margin-left: 0;
    }
    .service{
        width:100%;
        margin-bottom:30px;
        margin-left: 30px;
    }
    .service img{
        width:40vw;
    }
    .content_item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .team{
        width:100%;
    }
    .contact_wrapper{
        height:600px;
    }
    .message_image img{
        display: none;
    }
    form{
        float: none;
        margin-left: 30px;
    }
    form input{
        width:100%;
    }
    form textarea{
        width:100%;
    }
    footer h2{
        font-size: 5vw;
    }
}